/* 链接下划线改为黑色 */
.about-page .post-content a:not(.anchor) {
  border-bottom: solid 2px #000; /* 黑色实线 */
  background-image: linear-gradient(to top, #000, #000); /* 背景渐变也改为黑色 */
}

.about-page .post-content ul {
  list-style: circle;
}
